{% load static %}
<!DOCTYPE html>

<html lang="es">

<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UdecBuddy</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/menu.css' %}">
</head>
<body>
    {% if request.user.usuario == 'Directivo' %}
    <div id="mySidebar" class="sidebar" style="padding-top: 10px;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href=""></a>
        <a href="{%url 'tableDirectivo' %}"><img src="{%static 'img/view.png' %}" alt="Table Icon"> Usuarios</a>
        <a href="{%url 'archivosDirectivo' %}"><img src="{%static 'img/archivos.png' %}" alt="Archivos Icon"> Archivos</a>
        <a href="{%url 'chatDirectivo' %}"><img src="{%static 'img/chatbot.png' %}" alt="Chat Icon"> Chat</a>
        <a href="{%url 'profileDirectivo' %}"><img src="{%static 'img/perfil.png' %}" alt="Profile Icon"> Profile</a>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="logout-btn" style="background:none; border:none; margin:0; padding:0;">
                <a ><img src="{%static 'img/cerrar.png' %}" alt="Logout Icon"> Logout</a>
            </button>
        </form>
    </div>
    <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>
    </div>
    
    <div class="register-container">
        <img src="{%static 'img/logo-udec.png' %}" alt="Logo" class="logo">
        <div class="register-label"><b>Visualización de Datos</b></div>
        <div class="table-container" style="max-height: 650px; overflow-y: auto;">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Rol</th>
                        <th>Correo Institucional</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td data-column="Nombre">{{ usuario.nombre }}</td>
                        <td data-column="Apellido">{{ usuario.apellido }}</td>
                        <td data-column="Rol">{{ usuario.usuario }}</td>
                        <td data-column="Correo Institucional">{{ usuario.email }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
        }
    </script>
    {% else %}
        <script>
            alert('Usuario no válido');
            window.location.href = "{% url 'login' %}";
        </script>    
    {% endif %}
</body>
</html>
