<!-- editar_usuario.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
</head>
<body>
    {% if request.user.usuario == 'Administrador' %}
    <form class="register-container" method="post">
        {% csrf_token %}
        <img src="{% static 'img/logo-udec.png' %}" alt="Logo" class="logo">
        <div class="register-label"><b>Editar Usuario</b></div>
        <!-- Aquí es donde se mostrará el mensaje de error -->
        {% if form.errors %}
            <p style="color: red;">{{ form.errors }}</p>
        {% endif %}
        
        <label for="{{ form.nombre.id_for_label }}"><b>Nombre(s):</b></label>
        {{ form.nombre }}
        <label for="{{ form.apellido.id_for_label }}"><b>Apellidos:</b></label>
        {{ form.apellido }}
        <label for="{{ form.email.id_for_label }}"><b>Correo institucional:</b></label>
        {{ form.email }}
        
        <label for="{{ form.usuario.id_for_label }}"><b>Usuario:</b></label>
        {{ form.usuario }}
        <label for="{{ form.semestre.id_for_label }}"><b>Semestre:</b></label>
        {{ form.semestre }}


        <button type="submit">Guardar</button>
        <button type="button" onclick="window.history.back();">Cancelar</button>
    </form>
    {% else %}
        <script>
            alert('Usuario no válido');
            window.location.href = "{% url 'login' %}";
        </script>
    
        
    {% endif %}

</body>
</html>
